

*{
    margin: 0;
    padding-top:0.1% ;
}

.row{
   padding: 1rem;
    background: linear-gradient(
        to left top,
        #e97979,
        #8b0b0b);
    min-height: auto;
    width: auto;
    
    border-radius: 2rem;
    
    backdrop-filter: blur(1rem);
    
}

.sidebar{
    background: #E7625F;
    border-radius: 2rem;
    
    height: 100%;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.3);

}

.dashboard{
    padding: 1em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to left top,
        #e97979,
        #8b0b0b);
    border-radius: 2rem;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
}
.wrapper{
    padding: 5%;
    background: #EDE4E3;
    width: 100%;
    
    margin: 0 auto;
}
.page-header h2{
    margin-top: 0;
}



.links{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.link{
    display: flex;
    text-align: center;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
}

.link h2{
    padding: 0rem 2rem;
    width: 40%;
}

.pro{
    color: aliceblue;
    background: linear-gradient(
        to left top,
        #e97979,
        #8b0b0b);
    border-radius: 2rem;
    padding: 1rem 2rem;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.3);
}

h1{
    color:white;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;
}

h3{
    color:rgb(228, 228, 228);
    font-weight: 600;
    opacity: 0.8;
}

h3 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    opacity: 0.8;

}

h3 a:hover{
    color: white;
    font-weight: 600;
    opacity: 0.8;
    text-decoration: none;
}

.card{
    display: flex;
    background: linear-gradient(
        to left top,
        #e97979,
        #8b0b0b);
    color:black;
        border-radius: 1rem;
        padding: 2rem;
        margin: 0.5rem 0em;
        box-shadow: 6px 6px 20px rgba(0,0,0,0.3);
        justify-content: space-between;
}


.progress{
    width: 100%;
    background-color: sandybrown;
    padding-left: 2px;
    border-radius:1rem ;
}

.innerprogress{
    background-color: #ee4832;
    padding: 1rem;
    margin: 1px;
    border-radius:1rem ;
}

#ip{
    width: 0%;
}

#currnetSale {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#currnetSale tbody{
  width:100%;
}



#currnetSale td, #currnetSale th {
  border-radius: 1px solid #ddd;
  padding: 8px;
}




#currnetSale tr:nth-child(even){
  background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7) , 
        rgba(255,255,255,0.3) 
        );}

#currnetSale tr:hover {background-color: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7) , 
        rgba(255,255,255,0.3) 
        );;
}

#currnetSale th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: linear-gradient(
        to left top,
        #e97979,
        #8b0b0b);
  color: white;
}

.rounded-input {
  padding:1px;
  border-radius:5px;
  width: 90%;
  margin-bottom: 5px;

}

.btns{
    margin: 5px;
}

.btnx{
    background: black;
}

.saleinfo{
    padding: 10px;
    margin-left:  5px;

}

.saletag{
    padding: 10px;
    margin-left:  5px;
}

.reportRow{
    min-height: 40vh;
    padding: 1%;
    margin: 1%;
}

#chartContainer{
    margin: 1%;
}

label{
    color:rgb(228, 228, 228);
    font-weight: 600;
    opacity: 0.8;
}

.percentage{
    color: sandybrown;
}

#rcorners {
    background-color: #ddd;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
  width: 100%;

  }
  
  
  
  
  #rcorners td, #rcorners th {
    padding: 8px;
    text-align: center;
  }
  
  
  
  
  #rcorners tr:nth-child(even){
    background: linear-gradient(
          to right bottom, 
          rgba(255,255,255,0.7) , 
          rgba(255,255,255,0.3) 
          );}
  
  #rcorners tr:hover {background-color: linear-gradient(
          to right bottom, 
          rgba(255,255,255,0.7) , 
          rgba(255,255,255,0.3) 
          );;
  }
  
  #rcorners th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: linear-gradient(
          to left top,
          #e97979,
          #8b0b0b);
    color: white;
  }
  